
<!---     <span> app works</span>
<app-layout></app-layout>    
<div>{{htmlString}}</div>     -->


<!--   <button [ngStyle]="{'backgroundColor' : 'red'}">Button2022</button>

<div [ngClass]="{' active': true, 'error' : true}"> </div>


<div [ngStyle]="{width: '200px', height: '200px', backgroundColor:'red'}"></div>
-->

<button (click)="onSave($event)" >Button</button>

<!---  <div>{{message}}</div>
<div>{{getInfo()}}</div>
<div [innerHTML] ="htmlString" ></div>
    <div> {{ "angular2022"}}</div>
    <p> the sum of 1+1 is {{ 1+1 }}</p>

<p>{{ 1===1 ? "euqual" : " no equal"}} </p>

<div> {{ 1===1 ? "euqual" : "no euqual2"}}</div>
                   -->

<!--     <div> {{ 2===2 ? 'uqual2' : 'no euqual2'}}</div>  
    <div [attr.data-test] ="title" ></div>
<img [src]="imgUrl" />     -->


